<a href="https://colab.research.google.com/github/GlaMayBarPin/progralll-2024/blob/main/fundamentos_de_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola Mundo")
nombre = "Gladys Mayrena"

print("Hola", nombre, "inicial:",nombre [0], nombre[5])

Hola Mundo

EJERCICIO, crear un programa en python que sume dos numeros

In [ ]:
num1 = 5
num2 = 9.5
resp = num1 + num2
print("la suma es:", resp)

EJERCICIO, crear un programa en python que sume dos numeros introducidos por el usuario

In [ ]:
print("num1")
num1 = int(input())

print("num2")
num2 = float(input())

resp = num1 + num2
print("la suma es:", resp)

In [ ]:
#Tipos de datos
nombre = "Gladys Mayrena"
print(nombre[0:4], nombre[:4], nombre[-1:], nombre [5:len(nombre)])

estado = True
print(estado)

print(type(nombre), type(num1), type(num2), type(estado) )

Glad Glad a s Mayrena
True
<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

EJERCICIO,crea un programa en python que lea un numero y determine si es par o impar

In [ ]:
num = int(input("ingrase un mumero:"))
if num % 2 == 0:
  print("el numero es par", num)
else:
  print("el numero es impar")

ingrase un mumero:5
el numero es impar

EJERCICIO: Uso de las funciones de usuario, con la suma de dos numeros.

In [ ]:
def suma(num1, num2):
  return num1 + num2

num1 = float(input("Num 1: "))
num2 = float(input("Num 2: "))

resp = suma(num1, num2)
print ("La suma es: ", resp)

In [ ]:
def convertir_cf(c):
  return c*1.8 + 32


c = float(input("Celsius: "))
print("F: ", convertir_cf(c))

EJERCICIO: Determina si un numero es par o impar

In [ ]:
def parImpar(num):
  if(num%2==0):
    return "par"
  return "impar"


num = int(input("Num: "))
print("EL numero ", num, " es: ", parImpar(num))

EJERCICIO: Calcular el sueldo de un trabajador.

In [ ]:

def sueldo(numHrs, valorXHrs):
  sueldo = numHrs * valorXHrs * 30 # 10*1.5*30 = 450
  if(numHrs>8):
    sueldo = sueldo + (numHrs-8) * valorXHrs * 30 # 2*1.5*30 = 90
  return sueldo


numHrs = int(input("Horas: "))
valorXHrs = float(input("Valor: "))

print("Sueldo: ", sueldo(numHrs, valorXHrs))

TAREA (MIERCOLES):

1. Convertir grados Farenheits a Celsius

In [8]:
def fahrenheit_a_celsius(f):
    return (f - 32) / 1.8

def celsius_a_fahrenheit(c):
    return (c * 1.8) + 32

f = float(input("Ingresa los grados Fahrenheit: "))
c = fahrenheit_a_celsius(f)
print(f"Los {f} grados Fahrenheit son {c} grados Celsius")

c = float(input("Ingresa los grados Celsius: "))
f = celsius_a_fahrenheit(c)
print(f"Los {c} grados Celsius son {f} grados Fahrenheit")

Ingresa los grados Fahrenheit: 86
Los 86.0 grados Fahrenheit son 30.0 grados Celsius
Ingresa los grados Celsius: 30
Los 30.0 grados Celsius son 86.0 grados Fahrenheit

2. Convertir grados [Celsius y Farenheit] a kelvin

In [10]:
def celsius_a_kelvin(celsius):
    return celsius + 273.15

def fahrenheit_a_kelvin(fahrenheit):
    return (fahrenheit + 459.67) * 5 / 9

temperatura_celsius = 30
temperatura_fahrenheit = 86

print(f"{temperatura_celsius} 째C en Kelvin: {celsius_a_kelvin(temperatura_celsius)} K")
print(f"{temperatura_fahrenheit} 째F en Kelvin: {fahrenheit_a_kelvin(temperatura_fahrenheit)} K")

30 째C en Kelvin: 303.15 K
86 째F en Kelvin: 303.15000000000003 K