<a href="https://colab.research.google.com/github/GlaMayBarPin/progralll-2024/blob/main/fundamentos_de_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola Mundo")
nombre = "Gladys Mayrena"

print("Hola", nombre, "inicial:",nombre [0], nombre[5])

Hola Mundo

EJERCICIO, crear un programa en python que sume dos numeros

In [ ]:
num1 = 5
num2 = 9.5
resp = num1 + num2
print("la suma es:", resp)

EJERCICIO, crear un programa en python que sume dos numeros introducidos por el usuario

In [ ]:
print("num1")
num1 = int(input())

print("num2")
num2 = float(input())

resp = num1 + num2
print("la suma es:", resp)

In [ ]:
#Tipos de datos
nombre = "Gladys Mayrena"
print(nombre[0:4], nombre[:4], nombre[-1:], nombre [5:len(nombre)])

estado = True
print(estado)

print(type(nombre), type(num1), type(num2), type(estado) )

Glad Glad a s Mayrena
True
<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

EJERCICIO,crea un programa en python que lea un numero y determine si es par o impar

In [ ]:
num = int(input("ingrase un mumero:"))
if num % 2 == 0:
  print("el numero es par", num)
else:
  print("el numero es impar")

ingrase un mumero:5
el numero es impar

EJERCICIO: Uso de las funciones de usuario, con la suma de dos numeros.

In [ ]:
def suma(num1, num2):
  return num1 + num2

num1 = float(input("Num 1: "))
num2 = float(input("Num 2: "))

resp = suma(num1, num2)
print ("La suma es: ", resp)

In [ ]:
def convertir_cf(c):
  return c*1.8 + 32


c = float(input("Celsius: "))
print("F: ", convertir_cf(c))

EJERCICIO: Determina si un numero es par o impar

In [ ]:
def parImpar(num):
  if(num%2==0):
    return "par"
  return "impar"


num = int(input("Num: "))
print("EL numero ", num, " es: ", parImpar(num))

EJERCICIO: Calcular el sueldo de un trabajador.

In [ ]:

def sueldo(numHrs, valorXHrs):
  sueldo = numHrs * valorXHrs * 30 # 10*1.5*30 = 450
  if(numHrs>8):
    sueldo = sueldo + (numHrs-8) * valorXHrs * 30 # 2*1.5*30 = 90
  return sueldo


numHrs = int(input("Horas: "))
valorXHrs = float(input("Valor: "))

print("Sueldo: ", sueldo(numHrs, valorXHrs))

TAREA (MIERCOLES):

1. Convertir grados Farenheits a Celsius

In [ ]:
def fahrenheit_a_celsius(f):
    return (f - 32) / 1.8

def celsius_a_fahrenheit(c):
    return (c * 1.8) + 32

f = float(input("Ingresa los grados Fahrenheit: "))
c = fahrenheit_a_celsius(f)
print(f"Los {f} grados Fahrenheit son {c} grados Celsius")

c = float(input("Ingresa los grados Celsius: "))
f = celsius_a_fahrenheit(c)
print(f"Los {c} grados Celsius son {f} grados Fahrenheit")

Ingresa los grados Fahrenheit: 1
Los 1.0 grados Fahrenheit son -17.22222222222222 grados Celsius
Ingresa los grados Celsius: 1
Los 1.0 grados Celsius son 33.8 grados Fahrenheit

2. Convertir grados [Celsius y Farenheit] a kelvin

In [ ]:
def celsius_a_kelvin(celsius):
    return celsius + 273.15

def fahrenheit_a_kelvin(fahrenheit):
    return (fahrenheit + 459.67) * 5 / 9

temperatura_celsius = 1
temperatura_fahrenheit = 1

print(f"{temperatura_celsius} °C en Kelvin: {celsius_a_kelvin(temperatura_celsius)} K")
print(f"{temperatura_fahrenheit} °F en Kelvin: {fahrenheit_a_kelvin(temperatura_fahrenheit)} K")

1 °C en Kelvin: 274.15 K
1 °F en Kelvin: 255.92777777777778 K

EJERCICIO: elever un numero al cuadrado.

In [ ]:
def elevarCuadrado(base=0, exponente=2):
  return base**exponente

In [ ]:
num = int (input ("num:"))
print("Cuadrado:", elevarCuadrado(num, 3))

num:3
Cuadrado: 27

USANDO FUNCIONES LAMBDA

In [ ]:
elevarCuadradoLambda = lambda base, exponente: base**exponente

In [ ]:
valor = int(input("Num: "))
print("Cuadrado:", elevarCuadradoLambda(valor, 2))

Num: 3
Cuadrado: 9

In [ ]:
serie = [5,4,3,2,6,7]
resp = map(lambda x: x**2, serie)
print(list(resp))

resp2 = map(elevarCuadrado, serie)
print(list(resp2))

[25, 16, 9, 4, 36, 49]
[25, 16, 9, 4, 36, 49]

Ejercicio: obtener la raiz cuadrado de una serie de numeros fijos

In [ ]:
def raizCuadrada(num):
  return num**0.5

In [ ]:
serie = [5,4,3,2,6,7]
resp = map(raizCuadrada, serie)
print(list(resp))

[2.23606797749979, 2.0, 1.7320508075688772, 1.4142135623730951, 2.449489742783178, 2.6457513110645907]

Calcular sobre el sueldo las deducciones por ley ISSS (3%), AFP(6.25%), ISR(Según tabla) e imprima el total deducciones y
sueldo neto.

In [ ]:
def calcular_sueldo_neto(salario_bruto):
    # Tasas de descuento fijas
    tasa_isss = 0.03
    tasa_afp = 0.0625

    # Tabla de ISR (ajusta los valores según tu país/región)
    tabla_isr = [
        (0, 10000, 0.1),  # Each tuple should have exactly 3 values: lower bound, upper bound, and rate
        (10001, 20000, 0.15),
        (20001, float('inf'), 0.2)
    ]

    # Calcular deducciones ISSS y AFP
    deduccion_isss = salario_bruto * tasa_isss
    deduccion_afp = salario_bruto * tasa_afp

    # Calcular deduccion ISR
    deduccion_isr = 0
    for lower_bound, upper_bound, tasa in tabla_isr: # Unpack into three variables
        if lower_bound <= salario_bruto <= upper_bound:
            deduccion_isr = (salario_bruto - lower_bound + 1) * tasa
            break

    # Calcular total de deducciones y sueldo neto
    total_deducciones = deduccion_isss + deduccion_afp + deduccion_isr
    sueldo_neto = salario_bruto - total_deducciones

    # Imprimir resultados
    print("Salario bruto:", salario_bruto)
    print("Deducciones:")
    print("  ISSS:", deduccion_isss)
    print("  AFP:", deduccion_afp)
    print("  ISR:", deduccion_isr)
    print("Total deducciones:", total_deducciones)
    print("Sueldo neto:", sueldo_neto)

# Ejemplo de uso
salario = float(input("Ingrese el salario bruto: "))
calcular_sueldo_neto(salario)

Ingrese el salario bruto: 120
Salario bruto: 120.0
Deducciones:
  ISSS: 3.5999999999999996
  AFP: 7.5
  ISR: 12.100000000000001
Total deducciones: 23.200000000000003
Sueldo neto: 96.8

Calcular el valor a pagar según el número de metros consumidos de agua potable

In [ ]:
def calcular_tarifa_agua(metros_cubicos):
  """Calcula la tarifa de agua según el consumo.

  Args:
    metros_cubicos: Número de metros cúbicos consumidos.

  Returns:
    El valor a pagar en dólares.
  """

  if metros_cubicos <= 18:
    return 6
  elif 18 < metros_cubicos <= 28:
    exceso = metros_cubicos - 18
    return 6 + exceso * 0.45
  else:
    exceso_1 = 10 * 0.45
    exceso_2 = (metros_cubicos - 28) * 0.65
    return 6 + exceso_1 + exceso_2

# Pedimos al usuario que ingrese el consumo
while True:
  try:
    consumo = float(input("Ingrese el número de metros cúbicos consumidos "))
    if consumo < 0:
      print("El consumo debe ser un número positivo.")
    else:
      break
  except ValueError:
    print("Por favor, ingrese un número válido.")

# Si el usuario ingresó un número válido, calculamos la tarifa
if consumo > 0:
  valor_a_pagar = calcular_tarifa_agua(consumo)
  print(f"El valor a pagar por {consumo} metros cúbicos es: ${valor_a_pagar}")

Ingrese el número de metros cúbicos consumidos 38
El valor a pagar por 38.0 metros cúbicos es: $17.0

Desarrolle la tabla de meses acumulados a n meses. Si puede encontrar la fórmula matemática para evitar ciclos.

In [ ]:
def acumulacion(n):
  """Calcula la acumulación hasta el mes n, siguiendo la lógica de suma acumulada.

  Args:
    n: Número del mes.

  Returns:
    La acumulación hasta el mes n.
  """

  if n == 1:
    return 1
  else:
    return n + acumulacion(n-1)

# Tabla de meses acumulados hasta el mes 7 (ignorando irregularidades)
meses = [acumulacion(n) for n in range(1, 8)]  # Del mes 1 al 7

# Imprime la tabla
print("Mes\tAcumulación")
for i, mes in enumerate(meses, start=1):
  print(f"{i}\t{mes}")

Mes	Acumulación
1	1
2	3
3	6
4	10
5	15
6	21
7	28

Conversores:10 ítems como mínimo por cada uno

In [ ]:
def convertir_unidades(valor, unidad_origen, unidad_destino):
    """Convierte una medida de una unidad a otra.

    Args:
        valor: El valor numérico a convertir.
        unidad_origen: La unidad de origen (m, cm, in, ft, g, kg, lb, oz, C, F, K).
        unidad_destino: La unidad de destino (m, cm, in, ft, g, kg, lb, oz, C, F, K).

    Returns:
        El valor convertido.
    """

    conversiones = {
        "longitud": {
            "m": {"cm": 100, "in": 39.37, "ft": 3.281},
            "cm": {"m": 0.01, "in": 0.3937, "ft": 0.03281},
            # ... otras conversiones de longitud
        },
        "masa": {
            "g": {"kg": 0.001, "lb": 0.002205, "oz": 0.035274},
            "kg": {"g": 1000, "lb": 2.20462, "oz": 35.274},
            # ... otras conversiones de masa
        },
        "temperatura": {
            "C": {"F": (valor * 9/5) + 32, "K": valor + 273.15},
            "F": {"C": (valor - 32) * 5/9, "K": ((valor - 32) * 5/9) + 273.15},
            "K": {"C": valor - 273.15, "F": (valor - 273.15) * 9/5 + 32}
        }
    }

    try:
        tipo_medida = None
        if unidad_origen in conversiones["longitud"] and unidad_destino in conversiones["longitud"]:
            tipo_medida = "longitud"
        elif unidad_origen in conversiones["masa"] and unidad_destino in conversiones["masa"]:
            tipo_medida = "masa"
        elif unidad_origen in conversiones["temperatura"] and unidad_destino in conversiones["temperatura"]:
            tipo_medida = "temperatura"
        else:
            return "Unidades no válidas o incompatibles."

        factor_conversion = conversiones[tipo_medida][unidad_origen][unidad_destino]
        resultado = valor * factor_conversion
        return resultado
    except KeyError:
        return "Unidades no válidas."

# Obtener datos del usuario
valor = float(input("Ingrese el valor a convertir: "))
unidad_origen = input("Ingrese la unidad de origen (m, cm, in, ft, g, kg, lb, oz, C, F, K): ").lower()
unidad_destino = input("Ingrese la unidad de destino (m, cm, in, ft, g, kg, lb, oz, C, F, K): ").lower()

# Realizar la conversión
resultado = convertir_unidades(valor, unidad_origen, unidad_destino)

# Mostrar el resultado
if isinstance(resultado, str):
    print(resultado)
else:
    print(f"{valor} {unidad_origen} son {resultado} {unidad_destino}.")

Ingrese el valor a convertir: 125
Ingrese la unidad de origen (m, cm, in, ft, g, kg, lb, oz, C, F, K): m
Ingrese la unidad de destino (m, cm, in, ft, g, kg, lb, oz, C, F, K): cm
125.0 m son 12500.0 cm.

Realizar un conversor propio, donde especifiqué el valor de conversión:

In [ ]:
def conversor_personalizado(valor, unidad_inicial, unidad_final):
    """
    Realiza una conversión entre las unidades especificadas.

    Args:
        valor: El valor numérico a convertir.
        unidad_inicial: La unidad inicial (caja, saco, fardo, unidad, libra).
        unidad_final: La unidad final (caja, saco, fardo, unidad, libra).

    Returns:
        El valor convertido o un mensaje de error si la conversión no es posible.
    """

    conversiones = {
        "caja": {"unidad": 25},
        "unidad": {"caja": 0.04},
        "saco": {"libra": 50},
        "libra": {"saco": 0.02},
        "fardo": {"unidad": 5},
        "unidad": {"fardo": 0.2}
    }

    try:
        factor = conversiones[unidad_inicial][unidad_final]
        resultado = valor * factor
        return resultado
    except KeyError:
        return "Conversión no válida. Verifica las unidades."

# Bucle principal para realizar múltiples conversiones
while True:
    valor = float(input("Ingrese el valor a convertir: "))
    unidad_inicial = input("Ingrese la unidad inicial (caja, saco, fardo, unidad, libra): ").lower()
    unidad_final = input("Ingrese la unidad final (caja, saco, fardo, unidad, libra): ").lower()

    resultado = conversor_personalizado(valor, unidad_inicial, unidad_final)

    print(f"{valor} {unidad_inicial} equivalen a {resultado} {unidad_final}.")

    continuar = input("¿Deseas realizar otra conversión? (s/n): ")
    if continuar.lower() != 's':
        break

Ingrese el valor a convertir: 50
Ingrese la unidad inicial (caja, saco, fardo, unidad, libra): libra
Ingrese la unidad final (caja, saco, fardo, unidad, libra): saco
50.0 libra equivalen a 1.0 saco.
¿Deseas realizar otra conversión? (s/n): s
Ingrese el valor a convertir: 100
Ingrese la unidad inicial (caja, saco, fardo, unidad, libra): libra
Ingrese la unidad final (caja, saco, fardo, unidad, libra): saco
100.0 libra equivalen a 2.0 saco.

Estructuras de control

If
Ejercicio solicitar el Usuario la edad y determinar su clasificacion

In [8]:
edad = int(input("Edad: "))
if edad>17:
  print(" Bienvenido al mundo de las mayoreres")

Edad: 20
 Bienvenido al mundo de las mayoreres

In [ ]:
continuar = "s"
while continuar== "s":
 edad = int(input("Edad: "))
 if (edad<0):
  print("No existen edades negativas")
 elif edad<2:
  print("Es un bebe")
 elif edad<12:
  print("Es un niño")
 elif edad<18:
  print("Es un adolescente")
 elif edad<65:
  print("Es un adulto")
 elif edad<85:
  print("Es un adulto mayor")
 else:
  print("Es un anciano")
 continuar = input("continuar s, sino cualquier tecla: ")

solicitar un numero y verificar si es positivo o negativo

In [ ]:
num = int(input("Numero: "))
if num>0:
  print("Es positivo")
elif num==0:
    print("Es cero")
else:
  print("Es negativo")

solicitar una tabla de mulriplicar y generatia

In [ ]:
continura= "s"
while continuar == "s":
   tabla = int(input("Tabla: "))
   for i in range(1,11):
     print(tabla, "x", i, "=", tabla*i)
   continuar = input("continuar s, sino cualquier tecla: ")